ul{
  list-style-type:none;
  margin:0;
}

tree-node  ul:first-child{
  padding-left:0;
}

.StartOfTreeNode > tree-node > .StartOfTreeNode{
  padding-left:20px;
}
.mainBack{
  background:#F7F7F7;
}
  
  
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.WorkQueueDropContent{
    color:#343434;
}
.EachMiniQueueWithOutCollapse{
    padding:0.8em 10px;
}
.PaddedRight {
  padding-left: 20px;
  background: url("treeI.gif");
  background-repeat: repeat-y;
  background-position-x: 0.5em;
}
.eachMinQueueCheckSection{
    margin-right:10px;
}
.leftGaptoRightElement{
    margin-left:10px;
}
.lightFontForMInQueue{
    color:#A8A8A8; 
}
.DateOfMinQueue{
    font-weight:bold;
    color:#0E7EC6;
}

.selected {
  background-color: transparent;
}

.tree {
    font-family: 'Space Mono', 'Source Code Pro', 'Consolas', 'Courier New', 'Metrophobic', sans-serif;
    line-height: 1.4;
    font-weight: 200;
    font-stretch: normal;
    font-variant: normal;
    font-size: 12px;
    height: 95%;
    left: -20px;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}